/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
/* HEADER */
header{
    padding:30px 0px;
}
.logo{
    height: 70px;
    margin: auto;
    display: block;
}
/* MAIN */
.filters{
    padding:30px 0px;
    text-align: center;
}
button{
    padding: 10px;
    border-radius: 10px;
    margin-left: 20px;
}
.to-do-area{
    width:40%;
    margin: auto;
    border-radius: 20px;
    background-color: lightgrey;
    padding: 30px;
}
.to-do-area li{
    list-style: none;
    padding: 10px 20px;
    border-bottom: 1px solid black;
}
.todo-action{
    float:right;
}