<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script  text="javascript" src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <img class="logo" src="http://www.boolean.careers/images/misc/logo.png" alt="logo">
    </header>
    <main>
        <!-- contenitore dove si attuano gli elementi di VUE -->
        <div id="root">
            <!-- Contenitore impostazione della lista -->
            <div class="filters">
                <!-- <h1>{{message}}</h1> -->
                <!-- @keyup.enter="addTodo" quando rilascio enter il comando addTodo viene inviato -->
            <input @keyup.enter="addTodo" v-model="newTodo" type="text" placeholder="Aggiungi ToDo">
            <button @click="addTodo">Aggiungi</button>
            </div>
            <div class="to-do-area">
                <ul>
                    <!-- singola TODO -->
                    <!-- aggiungo l'indice per utilizzarlo nella funzione removeTodo -->
                    <li v-for="(todo, index) in todoList" :class="{'done': todo.done === true}" @click="doneNotDone(index)">
                        {{ todo.text }}
                        <div class="todo-action">
                            <i @click="removeTodo(index)" class="far fa-trash-alt"></i>
                        </div>
                        
                    </li>
                    <!-- fine singola TODO -->
                </ul>

            </div>
        </div>
    </main>
    



    <script text="javascript" src="js/script.js">

    </script>
</body>
</html>